.movie-api{width:60%;margin: 0 auto;border:1px solid}
.mov{border:2px solid;}
.title{font-size: 12px;color: black;background-color: brown}
.titlee{color:red}
.input{background-color:white;margin-bottom: 30px;}